<nav class="navbar has-background-light">
  <div
    class="navbar-menu py-2 container is-flex is-justify-content-space-between"
  >
    <a href="" class="navbar-item has-background-info-dark button mx-4"
      >navbar menu</a
    >
    <a href="" class="navbar-item has-background-info-dark button mx-4"
      >navbar menu</a
    >
    <a href="" class="navbar-item has-background-info-dark button mx-4"
      >navbar menu</a
    >
    <a href="" class="navbar-item has-background-info-dark button mx-4"
      >navbar menu</a
    >
    <a href="" class="navbar-item has-background-info-dark button mx-4"
      >navbar menu</a
    >
  </div>
</nav>
